<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="TeamcenterRunner" value="C:\Program Files\Siemens\Teamcenter10\portal\tcrunner.exe"/>
    <add key="NxlRunner" value="C:\Program Files\NextLabs\TcDRM\bin32\nxlrunner.exe"/>
  </appSettings>
</configuration>
